*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
}
.dywl{
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./wp10192922-people-talking-wallpapers.jpg);
    background-size: 100%;
}
.dyw{
    display: flex;
    gap: 50px;
}
.yes{
    height: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yes :hover{
    width: 1000px;
    font-size: 500px;
    color: yellow;
}
.yesa{
    border: none;
    font-size: 300px;
    color: yellow;
    width: 700px;
    border-radius: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: black 10px 10px;
}
.learning{
    display: flex;
    gap: 50px;
}
.d,.o,.y,.o,.u,.w,.a,.n,.t,.l,.e,.a,.r,.n,.i,.n,.g,.as{
    color: rgb(242, 255, 0);
    font-size: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: black 10px 10px;
}