.main{
    width: 100%;
    height: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.maind{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.312);
    border-radius: 50px;
}
.p{
    color: white;
    font-size: 40px;
}
.answer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}
.pt2{
    color: white;
    font-size: 20px;
    width: 350px;
    height: 60px;
    border-radius: 10px;
    border: none;
    text-align: start;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0.435);
}
.finish{
    font-size: 35px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(0, 255, 255, 0.647);
    color: white;
}
